/**
 * Kairat Bakytov
 * kainisoft@gmail.com
 */

import {AbstractPayload} from '../../../core/state-management/abstract-payload';

export interface <%= classify(name) %>Payload extends AbstractPayload {

}
